.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: auto;

  @media screen and (min-width: 1201px) {
    max-width: 800px;
  }

  @media only screen and (min-width: 1681px) {
    padding-left: 15vw;
    max-width: 1200px;
  }
}

.title {
  border-color: var(--theme-accent);
  color: var(--theme-light);
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.attachments {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-left: 25px;

  @media only screen and (min-width: 1201px) {
    padding-left: 0;
  }
}
