.container {
  height: 100%;
  left: 0;
  min-height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  &.visible {
    visibility: visible;
  }
}

.background {
  background-color: var(--intro-background-color);
  height: 100%;
  position: fixed;
  transition: background-color var(--menu-sm-first-timeout);
  width: 100%;

  &.animated {
    transition:
      background-color var(--menu-sm-first-timeout) 0.5s,
      height var(--menu-sm-first-timeout),
      top var(--menu-sm-first-timeout);

    &.menuMode {
      transition:
        background-color var(--menu-sm-first-timeout),
        height var(--menu-sm-first-timeout),
        top var(--menu-sm-first-timeout);
    }
  }
}

.top {
  background-color: var(--theme-dark, var(--intro-background-color));
  left: 0;
  top: 0;
}

.bottom {
  bottom: 0;
  left: 0;
}
