.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  fill: #111;
  height: var(--menu-item-height);
  justify-content: flex-end;
  opacity: 0.6;
  outline: none;
  padding: 0;
  padding-left: 55px;
  transition:
    opacity var(--menu-sm-first-timeout),
    fill var(--menu-sm-first-timeout) var(--menu-button-time),
    width var(--menu-sm-first-timeout);

  &:active,
  &:focus,
  &.hovered {
    opacity: 0.9;
  }

  &.active {
    fill: var(--theme-accent);
    opacity: 1;

    &:active,
    &:focus,
    &:hover {
      fill: var(--theme-accent);
    }
  }

  @media only screen and (min-width: 1681px) {
    height: var(--menu-item-height-l);
    padding: 0;
    width: 100%;
  }
}

.menuSvg {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  position: relative;

  @media only screen and (min-width: 1681px) {
    .menuSvgText {
      height: var(--menu-item-height-l);
    }
  }
}

.menuSvgText {
  height: 100%;
}

.menuSvgShadow {
  fill: #000;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition:
    opacity var(--menu-button-time) var(--menu-button-time),
    visibility 0s var(--menu-button-time);
  visibility: hidden;
  width: 100%;

  &.visible {
    opacity: var(--svg-opacity);
    transition:
      opacity var(--menu-button-time) var(--menu-button-time),
      visibility 0s;
    visibility: visible;
  }
}
