@use '../styles/variables.scss' as var;

$icon-size: 1.3rem;

.projectCarousel {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: var.$media-m) {
    height: 100vh;
  }

  .arrow {
    border: 0 solid #fff;
    border-width: 3px 3px 0 0;
    display: block;
    height: $icon-size;
    width: $icon-size;

    &.left {
      transform: rotateZ(-135deg) translate(-20%, 20%);
    }

    &.right {
      transform: rotateZ(45deg) translate(-20%, 20%);
    }
  }

  .navButton {
    background: rgb(0 0 0 / 40%);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 3rem;
    padding: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    z-index: 1;

    &:disabled {
      cursor: default;
      opacity: 0.3;
    }

    &.previous {
      left: 1rem;
    }

    &.next {
      right: 1rem;
    }
  }

  :global(.nuka-container) {
    border-radius: var.$border-radius * 2;
    opacity: 0.7;
    overflow: hidden;
    transition: opacity 0.2s;
    width: 100%;

    &:hover {
      opacity: 1;
    }
  }

  :global(.nuka-wrapper) {
    > img {
      flex: 0 0 100%;
      width: 100%;
    }
  }
}
