.projectCarousel {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  padding-left: 40px;
  padding-right: 20px;

  @media screen and (min-width: 1201px) {
    padding-left: 0;
    padding-right: 20px;
    height: 100vh;
  }

  @media only screen and (min-width: 1681px) {
    max-width: 35vw;
  }
}

.arrow {
  border: 0 solid #fff;
  border-width: 3px 3px 0 0;
  display: block;
  height: 1.3rem;
  width: 1.3rem;

  &.left {
    transform: rotateZ(-135deg) translate(-20%, 20%);
  }

  &.right {
    transform: rotateZ(45deg) translate(-20%, 20%);
  }
}

.navButton {
  background: rgb(0 0 0 / 40%);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 3rem;
  padding: 0.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  z-index: 1;

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  &.previous {
    left: 1rem;
  }

  &.next {
    right: 1rem;
  }
}

.projectCarousel :global(.nuka-container) {
  border-radius: calc(var(--border-radius) * 2);
  opacity: 0.7;
  overflow: hidden;
  transition: opacity 0.2s;
  width: 100%;

  &:hover {
    opacity: 1;
  }
}

.projectCarousel :global(.nuka-wrapper) {
  > img {
    flex: 0 0 100%;
    width: 100%;
  }
}
