// ==================================================
// COLORS
// ==================================================

$color-default: #171F3F;
$color-primary: #0593FB;

$color-dark-grey: #52606D;
$color-grey: #CBD2D9;
$color-light-grey: #F5F7FA;

$color-know: #06C847;
$color-familiar: #653CAD;
$color-interested: #2251CC;

// ==================================================
// SIZES
// ==================================================

$size-mobile-logo: 100px;
$size-tablet-logo: 120px;
$size-desktop-logo: 150px;

$size-check-circle: 15px;

$font-paragraph: 0.875rem;      // 14px

$media-tablet: 768px;

// ==================================================
// LAYOUT
// ==================================================

$layout-header-max-width: 780px;