@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin light-text {
  color: $color-dark-grey;
  line-height: 1.85;
  font-size: $font-paragraph; // 14px
  font-weight: 300;
  margin: 0;
}

@mixin section-heading {
  font-size: 1.5rem; // 24px
  text-align: center;
  padding-bottom: 0.8rem;
  margin: 0;
}

@mixin line-decoration {
  padding-top: 0.8rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background-color: $color-primary;
  }
}

@mixin link {
  color: $color-primary;
  font-size: $font-paragraph;
  font-weight: 500;
  display: inline-block;

  &--email {
    margin-top: 2rem;
    text-decoration: none;
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      background-color: $color-primary;
      margin-top: 0.5rem;
      height: 2px;
      width: 100%;
      pointer-events: none;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform $time-hover-underline ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
  
  &--icon {
    font-size: 2rem;
    color: #fff;
  }
}

@mixin container {
  @include flex-center;
  width: 100%;
  padding: 3.75rem 1rem;

  &__container {
    width: 100%;
  }

  @media only screen and (min-width: $media-tablet) {

    & {
      padding: 6.25rem 0;

      &__container {
        max-width: 1200px;
        width: 80%;
      }
    }
  }
}