$color-text-black: #171F3F;
$color-text-grey: #52606D;

$color-primary: #0593FB;
$color-grey: #CBD2D9;
$color-light-grey: #F5F7FA;
$color-know: #06C847;
$color-familiar: #653CAD;
$color-interested: #2251CC;

$size-mobile-logo: 100px;
$size-tablet-logo: 120px;
$size-desktop-logo: 150px;

$size-check-circle: 15px;


$layout-side-offset: 16px;