@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

@import "normalize";
@import "helpers";
@import "variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  color: $color-default;
}

.page {

  &__header {

  }

  &__heading {

  }
}

/*
#### ##    ## ######## ########   #######
 ##  ###   ##    ##    ##     ## ##     ##
 ##  ####  ##    ##    ##     ## ##     ##
 ##  ## ## ##    ##    ########  ##     ##
 ##  ##  ####    ##    ##   ##   ##     ##
 ##  ##   ###    ##    ##    ##  ##     ##
#### ##    ##    ##    ##     ##  #######
*/

.intro {
  width: 100%;
  padding: 64px $layout-side-offset 120px;

  &__heading {

  }

  &__description {

  }

  &__links {

  }

  &__link {

    &--email {

    }
  }
}

.avatar {
  width: $size-mobile-logo;
  height: $size-mobile-logo;
  background-color: $color-grey;
  padding: 4px;
  border-radius: 50%;
  
  &__photo {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
  }
}

/*
 ######  ##    ## #### ##       ##        ######
##    ## ##   ##   ##  ##       ##       ##    ##
##       ##  ##    ##  ##       ##       ##
 ######  #####     ##  ##       ##        ######
      ## ##  ##    ##  ##       ##             ##
##    ## ##   ##   ##  ##       ##       ##    ##
 ######  ##    ## #### ######## ########  ######
*/

.skills {

  &__heading {

  }
}

.skillset {

  &--know {

  }

  &--familiar {

  }

  &--interested {

  }

  &__heading {

  }

  &__list {

  }

  &__item {

  }
}

/*
########  ########   #######        ## ########  ######  ########  ######
##     ## ##     ## ##     ##       ## ##       ##    ##    ##    ##    ##
##     ## ##     ## ##     ##       ## ##       ##          ##    ##
########  ########  ##     ##       ## ######   ##          ##     ######
##        ##   ##   ##     ## ##    ## ##       ##          ##          ##
##        ##    ##  ##     ## ##    ## ##       ##    ##    ##    ##    ##
##        ##     ##  #######   ######  ########  ######     ##     ######
*/

.projects {

  &__header {

  }

  &__heading {

  }

  &__description {

  }
}

.cards {

  &__heading {

  }
}

/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/

.contact {

  &__heading {

  }

  &__description {

  }

  &__copyright {
    
  }
}

.social {

  &__list {

  }

  &__item {

  }

  &__link {

    &--email {

    }
  }
}