@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

@import "normalize";
@import "helpers";
@import "variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
}